@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth !important;
  }

  @font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('../public/fonts/Gilroy-Regular.ttf');
  }

  @font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('../public/fonts/Gilroy-Bold.ttf');
  }

  @font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: url('../public/fonts/Gilroy-ExtraBold.ttf');
  }

  @font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    src: url('../public/fonts/Gilroy-Black.ttf');
  }
}
